body {
    margin: 0;
}

header {
    height: 90px;
    background-color: #C5F4FF;
}

#header_container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app_name {
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.info_container {
    max-width: 670px;
    height: 340px;
    background-color: #C5F4FF;
    text-align: center;
}

.text_info {
    width: 420px;
    height: 30px;
    border-color: transparent;
    background-color: #C4C4C4;
    margin-top: 40px;
    margin-bottom: 40px;
}

::placeholder {
    color: black;
}

.button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.edit {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    font-size: 16px;
    border-color: transparent;
    background-color: #C4C4C4;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    margin-top: 50px;
}