body {
    margin: 0;
}

header {
    height: 90px;
    background-color: #C5F4FF;
}

#header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

#app_name {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
}

button {
    background-color: #4E7CD7;
    border-radius: 10px;
}

.header_item {
    margin-right: 10px;
}

#auth_container {
    width: 180px;
    text-align: center;
    margin-right: 10px;
    margin-left: auto;
}

.enter_button {
    width: 180px;
    height: 30px;
}

.registration_link {
    margin: auto;
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
}

.image {
    height: 270px;
    width: 240px;
}

.text_container {
    max-width: 540px;
    background-color: #C5F4FF;
    padding: 10px;
    margin-bottom: 15px;
}

.name {
    margin-bottom: 10px;
}

.volume {
    margin-bottom: 10px;
}

.consist {
    margin-bottom: 10px;
}

.price {
    margin-bottom: 10px;
}

.button_container {
    max-width: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#make_order {
    width: 480px;
    height: 50px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
}